{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "import/prefer-default-export": "off",
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "unused"
    }],
    "prefer-promise-reject-errors": "off"
  }
}
